.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding : 0.5rem;
    border-radius: 1rem;
    border: solid black 0.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
}